*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    display: block;
    width: 100%;
}

body{
    background-color:#f3f2ef;
}
/* Nav Styles */
nav{
    display: flex;
    justify-content: space-between;
    border: 1px solid crimson; 
}
.nav-primary {
    display: flex;
    
}
.nav-primary .icon-home{/* imagen */
    margin-right: 0.4375rem;
    margin-left: 4.6875rem;
    border: 1px solid crimson; 
}/* 
.nav-primary li:nth-child(1) {
    display: inline-block;
}  */
.container-seacrh{/* div buscar */
    display: flex;
    border: 1px solid crimson;
    width: 300px;
    height: 34px;
}
.nav-primary .icon-search{/* imagen */
    border: 1px solid crimson; 
}

.input-search{/* Buscar */
    margin-top: 6px;
    margin-bottom: 9px;
    width: 300px;
    height: 34px;
    margin-right: 153px;
    border: 1px solid crimson; 
}


.nav-secondary{
    display: flex;
}

